on:
  workflow_call:
    inputs:
      java-version:
        description: Java version to use for build, ignored if the repository contains a mise.toml file
        required: false
        type: string
      multi-module:
        description: If this is a multi-module project
        type: boolean
        default: false
      build-tasks:
        description: Custom Gradle tasks to run for building and verification
        required: false
        type: string
        default: ""
      publish-tasks:
        description: Custom Gradle tasks to run for publishing
        required: false
        type: string
        default: ""
      expect-tests:
        description: If JUnit test results are expected
        default: true
        type: boolean
      submodules:
        # see https://github.com/actions/checkout
        default: "false"
        type: string
      checkout-ref:
        description: Custom ref to check out
        type: string
        default: ""
      semantic-release:
        description: State if a release should be created using semantic-release if applicable
        default: false
        type: boolean
      semantic-release-dryrun:
        description: If semantic release should do a dryrun
        default: false
        type: boolean
      skip-scan:
        description: If security scan and associated tasks should be skipped (e.g. in case no Gradle lock files are configured to be generated)
        type: boolean
        default: false
      upload-artifact-path:
        description: Path for artifact to upload (to reuse in another job)
        type: string
        default: ""
      upload-artifact-name:
        description: Name for artifact to upload (to reuse in another job)
        type: string
        default: build-artifact
    outputs:
      release-published:
        description: If a release was created
        value: ${{ jobs.publish.outputs.release-published }}
      release-version:
        description: The release version if a release was created
        value: ${{ jobs.publish.outputs.release-version }}
    secrets:
      WETF_ARTIFACTORY_USER:
      WETF_ARTIFACTORY_PASSWORD:
      SLACK_NOTIFICATIONS_BOT_TOKEN:
      WE_RELEASE_GITHUB_APP_ID:
      WE_RELEASE_GITHUB_PRIVATE_KEY:

      GH_PAT:
      DOCKER_HUB_USERNAME:
      DOCKER_HUB_PASSWORD:
      DOCKER_HUB_EMAIL:

jobs:
  publish:
    uses: ./.github/workflows/gradle-library.yml
    with:
      build-tasks: ${{ inputs.build-tasks != '' && inputs.build-tasks || 'clean check' }}
      publish-tasks: ${{ inputs.publish-tasks != '' && inputs.publish-tasks || 'publishAllPublicationsToMavenRepository' }}
      java-version: ${{ inputs.java-version }}
      multi-module: ${{ inputs.multi-module }}
      expect-tests: ${{ inputs.expect-tests }}
      submodules: ${{ inputs.submodules }}
      checkout-ref: ${{ inputs.checkout-ref }}
      skip-scan: ${{ inputs.skip-scan }}
      upload-artifact-path: ${{ inputs.upload-artifact-path }}
      upload-artifact-name: ${{ inputs.upload-artifact-name }}
      semantic-release: ${{ inputs.semantic-release }}
      semantic-release-dryrun: ${{ inputs.semantic-release-dryrun }}
    # secrets: inherit
    # passing on secrets via inherit seems to be no longer possible
    # if this workflow is included from a foreign organisation
    secrets:
      WETF_ARTIFACTORY_USER: ${{ secrets.WETF_ARTIFACTORY_USER }}
      WETF_ARTIFACTORY_PASSWORD: ${{ secrets.WETF_ARTIFACTORY_PASSWORD }}
      SLACK_NOTIFICATIONS_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
      WE_RELEASE_GITHUB_APP_ID: ${{ secrets.WE_RELEASE_GITHUB_APP_ID }}
      WE_RELEASE_GITHUB_PRIVATE_KEY: ${{ secrets.WE_RELEASE_GITHUB_PRIVATE_KEY }}
      GH_PAT: ${{ secrets.GH_PAT }}
      DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
      DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
      DOCKER_HUB_EMAIL: ${{ secrets.DOCKER_HUB_EMAIL }}
