on:
  workflow_call:
    inputs:
      build-tasks:
        description: Custom Gradle tasks to run for building and verification
        required: false
        type: string
        default: ""
      publish-tasks:
        description: Custom Gradle tasks to run for publishing
        required: false
        type: string
        default: ""
      java-version:
        description: Java version to use for build, ignored if the repository contains a mise.toml file
        required: false
        type: string
      image-tag:
        description: Image tag to scan after build
        required: true
        type: string
      image-tag-2:
        description: Additional image tag to scan after build
        type: string
        default: ""
      image-tag-3:
        description: Additional image tag to scan after build
        type: string
        default: ""
      multi-module:
        description: If this is a multi-module project
        type: boolean
        default: false
      expect-tests:
        description: If JUnit test results are expected
        default: true
        type: boolean
      submodules:
        # see https://github.com/actions/checkout
        default: "false"
        type: string
      checkout-ref:
        description: Custom ref to check out
        type: string
        default: ""
      semantic-release:
        description: State if a release should be created using semantic-release if applicable
        default: false
        type: boolean
      semantic-release-dryrun:
        description: If semantic release should do a dryrun
        default: false
        type: boolean
    secrets:
      GH_PAT:
      DOCKER_HUB_USERNAME:
        required: true
      DOCKER_HUB_PASSWORD:
        required: true
      DOCKER_HUB_EMAIL:
      WETF_ARTIFACTORY_USER:
      WETF_ARTIFACTORY_PASSWORD:
      SLACK_NOTIFICATIONS_BOT_TOKEN:
        required: true
      WE_RELEASE_GITHUB_APP_ID:
      WE_RELEASE_GITHUB_PRIVATE_KEY:
      ENV_VARS: # secret for passing on additional env variables based on https://github.com/orgs/community/discussions/26671#discussioncomment-6776498

jobs:
  publish:
    uses: ./.github/workflows/gradle-service.yml
    with:
      build-tasks: ${{ inputs.build-tasks != '' && inputs.build-tasks || 'clean check' }}
      publish-tasks: ${{ inputs.publish-tasks != '' && inputs.publish-tasks || 'dockerPushImage dockerPushLatest' }}
      java-version: ${{ inputs.java-version }}
      image-tag: ${{ inputs.image-tag }}
      image-tag-2: ${{ inputs.image-tag-2 }}
      image-tag-3: ${{ inputs.image-tag-3 }}
      multi-module: ${{ inputs.multi-module }}
      expect-tests: ${{ inputs.expect-tests }}
      submodules: ${{ inputs.submodules }}
      checkout-ref: ${{ inputs.checkout-ref }}
      semantic-release: ${{ inputs.semantic-release }}
      semantic-release-dryrun: ${{ inputs.semantic-release-dryrun }}
      skip-scan: ${{ inputs.semantic-release-dryrun && inputs.semantic-release }} # dryrun does not produce image, so skip scan
    # secrets: inherit
    # passing on secrets via inherit seems to be no longer possible
    # if this workflow is included from a foreign organisation
    secrets:
      GH_PAT: ${{ secrets.GH_PAT }}
      DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
      DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
      DOCKER_HUB_EMAIL: ${{ secrets.DOCKER_HUB_EMAIL }}
      WETF_ARTIFACTORY_USER: ${{ secrets.WETF_ARTIFACTORY_USER }}
      WETF_ARTIFACTORY_PASSWORD: ${{ secrets.WETF_ARTIFACTORY_PASSWORD }}
      SLACK_NOTIFICATIONS_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
      WE_RELEASE_GITHUB_APP_ID: ${{ secrets.WE_RELEASE_GITHUB_APP_ID }}
      WE_RELEASE_GITHUB_PRIVATE_KEY: ${{ secrets.WE_RELEASE_GITHUB_PRIVATE_KEY }}
      ENV_VARS: ${{ secrets.ENV_VARS }}
