#
# Mise release workflow
#
# Intended to be run on the default branch to create a release, either manually or automatically.
#
# Conventions:
# - workflow uses mise environment "ci"
# - should have a mise task named "ci:verify-release" (this can be an empty task if no verification is needed)
# - should have a mise task named "ci:set-version" with argument "--version" that sets the version of the project to the given version (not required for variants: npm)
#
# Variants:
# - npm: Set version via "npm version" (task "ci:set-version" not required), adds package.json and package-lock.json files to release assets
#

on:
  workflow_call:
    inputs:
      variant:
        description: Workflow variant to use (leave empty or use one of 'npm')
        required: true
        type: string
      dry-run:
        description: If the release should be a dry run (no actual release creation)
        required: false
        default: false
        type: boolean
    secrets:
      WE_RELEASE_GITHUB_APP_ID:
        required: true
      WE_RELEASE_GITHUB_PRIVATE_KEY:
        required: true

env:
  # renovate: datasource=npm depName=@semantic-release/changelog
  SEMANTIC_RELEASE_CHANGELOG_VERSION: 6.0.3

  # renovate: datasource=npm depName=@semantic-release/exec
  SEMANTIC_RELEASE_EXEC_VERSION: 7.1.0

  # renovate: datasource=npm depName=@semantic-release/git
  SEMANTIC_RELEASE_GIT_VERSION: 10.0.1

  # renovate: datasource=npm depName=conventional-changelog-conventionalcommits
  CONVENTIONAL_CHANGELOG_CONVENTIONALCOMMITS_VERSION: 9.1.0

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - name: Determine app token for release
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ secrets.WE_RELEASE_GITHUB_APP_ID }}
          private-key: ${{ secrets.WE_RELEASE_GITHUB_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ steps.app-token.outputs.token }}
          # fetch-depth 0 is required to fetch all tags (and to determine the version based on tags)
          fetch-depth: 0

      #
      # Setup mise & tools
      #
      - name: Setup mise & tools
        uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1

      #
      # Create conventional release configuration file if not present
      #
      - name: Create release configuration file
        if: ${{ hashFiles('.releaserc.yml') == '' }}
        shell: bash
        env:
          GITHUB_REF_NAME: ${{ github.head_ref || github.ref_name }}
        run: |

          VERIFY_CMD="mise run ci:verify-release"

          if [ "${{ inputs.variant }}" = "npm" ]; then
            if [ -f package.json ]; then
              # package.json exists in root
              PREPARE_CMD="mise exec -- npm version --no-git-tag-version \${nextRelease.version}"
            else
              # Search for package.json elsewhere (excluding node_modules)
              PKG_PATH=$(find . -type f -name package.json -not -path "*/node_modules/*" | head -n 1)
              if [ -n "$PKG_PATH" ]; then
                PKG_DIR=$(dirname "$PKG_PATH")
                PREPARE_CMD="mise exec -C $PKG_DIR -- npm version --no-git-tag-version \${nextRelease.version}"
              else
                echo "Error: No package.json found in repository."
                exit 1
              fi
            fi
            ASSETS="[CHANGELOG.md, \"**/package.json\", \"**/package-lock.json\"]"
          else
            PREPARE_CMD="mise run ci:set-version --version \${nextRelease.version}"
            ASSETS="[CHANGELOG.md]"
          fi

          cat <<EOF > .releaserc.yml
          ---
          branches: ${GITHUB_REF_NAME}

          plugins:
            - - "@semantic-release/commit-analyzer"
              # see https://github.com/semantic-release/commit-analyzer?tab=readme-ov-file#options
              - preset: conventionalcommits
            - - "@semantic-release/release-notes-generator"
              # see https://github.com/semantic-release/release-notes-generator?tab=readme-ov-file#options
              - preset: conventionalcommits
                presetConfig:
                  issuePrefixes: ['ING-', 'WGS-', 'SVC-']
                  issueUrlFormat: 'https://wetransform.atlassian.net/browse/{{prefix}}{{id}}'
                # parserOpts:
                  # https://github.com/conventional-changelog/conventional-changelog/tree/master/packages/conventional-commits-parser#referenceactions
                  # set to null to reference an issue without action (but will still show it "closes" the issue in the changelog)
                  # referenceActions: null
            - "@semantic-release/changelog"
            - - "@semantic-release/exec"
                # verify if a release can be created before taking any action
              - verifyReleaseCmd: ${VERIFY_CMD}

                # prepare - set release version, test and build if applicable
                prepareCmd: ${PREPARE_CMD}

                # publish - perform publishing tasks
                # per convention done based on created Git tag
                # publishCmd:

                # success - perform post-release tasks
                # successCmd:
            - - "@semantic-release/git"
              - assets: ${ASSETS}
                # important to not skip ci, so publishing is triggered for created tag
                message: "chore(release): \${nextRelease.version}\n\n\${nextRelease.notes}"
            - "@semantic-release/github"
          EOF

          # Print for verification/debugging
          echo ">>> Created .releaserc.yml with contents:"
          cat .releaserc.yml
          echo ">>>"

      - name: Install NodeJs (for semantic-release)
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24

      #
      # Perform release
      #
      - name: Release
        id: release
        uses: cycjimmy/semantic-release-action@b12c8f6015dc215fe37bc154d4ad456dd3833c90 # v6.0.0
        env:
          # Permissions needed
          #   contents: write
          #   issues: write
          #   pull-requests: write
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
          GIT_AUTHOR_NAME: wetransform Bot
          GIT_AUTHOR_EMAIL: 113353961+wetransformer@users.noreply.github.com
          GIT_COMMITTER_NAME: wetransform Bot
          GIT_COMMITTER_EMAIL: 113353961+wetransformer@users.noreply.github.com
          RUNNER_DEBUG: 1

          MISE_ENV: ci
        with:
          dry_run: ${{ inputs.dry-run }}
          semantic_version: 25.0.3

          extra_plugins: "@semantic-release/changelog@\
            ${{ env.SEMANTIC_RELEASE_CHANGELOG_VERSION }} \
            @semantic-release/exec@\
            ${{ env.SEMANTIC_RELEASE_EXEC_VERSION }} \
            @semantic-release/git@\
            ${{ env.SEMANTIC_RELEASE_GIT_VERSION }} \
            conventional-changelog-conventionalcommits@\
            ${{ env.CONVENTIONAL_CHANGELOG_CONVENTIONALCOMMITS_VERSION }} \
            "
