#
# Mise check workflow
#
# Intended to be run for pull requests.
#
# Conventions:
# - workflow uses mise environment "ci"
# - should have a mise task named "ci:check"
# - if an environment variable IMAGE_NAME is set by mise or the build, a security scan will be performed on the image
# - if a file docker-bake.hcl is present, the Docker image will be built using docker bake and it should not be built by the mise task;
#   in this case IMAGE_NAME is expected to be a name without tag and tags to build are determined automatically
# - the docker-bake.hcl should have a target named "default", it should inherit from an empty target "docker-metadata-action"
#
# Variants:
# - npm: Cache Node.js modules
#

on:
  workflow_call:
    inputs:
      variant:
        description: Workflow variant to use (leave empty or use one of 'npm')
        required: true
        type: string
      parallel:
        description: Run mise tasks in parallel (true) or sequentially (false)
        required: false
        default: false
        type: boolean
      skip-scan:
        description: If security scan and associated tasks should be skipped
        type: boolean
        default: false
      submodules:
        # see https://github.com/actions/checkout
        default: "false"
        type: string
    secrets:
      DOCKER_HUB_USERNAME:
      DOCKER_HUB_PASSWORD:
      GH_PAT:

jobs:
  check:
    uses: ./.github/workflows/mise.yml
    with:
      run-task: ci:check
      publish: false
      variant: ${{ inputs.variant }}
      parallel: ${{ inputs.parallel }}
      notify-failure: false
      skip-scan: ${{ inputs.skip-scan }}
      submodules: ${{ inputs.submodules }}
    # secrets: inherit
    # passing on secrets via inherit seems to be no longer possible
    # if this workflow is included from a foreign organisation
    secrets:
      GH_PAT: ${{ secrets.GH_PAT }}
      DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
      DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
