on:
  workflow_call:
    inputs:
      command:
        description: Custom command to run for the build
        required: true
        type: string
      pre-build-command:
        description: Custom command to run before the build
        type: string
        default: ""
      java-version:
        description: Java version to use for build
        required: true
        type: string
      notify-failure:
        description: Notify on build failure to Slack
        default: true
        type: boolean
      junit-test-folder:
        description: Location where JUnit tests are stored, if any
        default: "project/target/test-reports"
        type: string
      expect-tests:
        description: If JUnit test results are expected
        default: true
        type: boolean
    secrets:
      WETF_ARTIFACTORY_USER:
      WETF_ARTIFACTORY_PASSWORD:
      SLACK_NOTIFICATIONS_BOT_TOKEN:

jobs:
  run:
    runs-on: ${{ vars.CUSTOM_RUNNER || 'ubuntu-latest' }}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: temurin
          java-version: ${{ inputs.java-version }}
          cache: sbt

      - name: Set up artifactory credentials
        if: env.WETF_ARTIFACTORY_USER
        env:
          WETF_ARTIFACTORY_USER: ${{ secrets.WETF_ARTIFACTORY_USER }}
          WETF_ARTIFACTORY_PASSWORD: ${{ secrets.WETF_ARTIFACTORY_PASSWORD }}
        run: |
          cat <<EOF > ~/.wetfArtifactory
          realm=Artifactory Realm
          host=artifactory.wetransform.to
          user=$WETF_ARTIFACTORY_USER
          password=$WETF_ARTIFACTORY_PASSWORD
          EOF

      - name: Run custom pre-build command
        if: ${{ inputs.pre-build-command != '' }}
        run: ${{ inputs.pre-build-command }}

      - name: Run command
        run: ${{ inputs.command }}

      #
      # Security scans
      #

      # XXX sbt/scala currently not supported by trivy

      #
      # Report on unit tests and critical vulnerabilities
      #

      # https://github.com/marketplace/actions/junit-report-action
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@e08919a3b1fb83a78393dfb775a9c37f17d8eea6 # v6.0.1
        if: always() # always run even if the previous step fails
        with:
          report_paths: "${{ inputs.junit-test-folder }}/*.xml"
          require_tests: ${{ inputs.expect-tests }}

          # Workaround for check that is additionally created being associated
          # to the wrong workflow/run. Instead not additional check is created.
          # See https://github.com/mikepenz/action-junit-report/issues/40
          annotate_only: true
          detailed_summary: true
          fail_on_failure: true # in case of critical security vulnerabilities, also required for Slack notification if only tests fail

      #
      # Report build failure to Slack
      #

      # https://github.com/marketplace/actions/slack-notify-build
      - name: Notify slack fail
        if: ${{ inputs.notify-failure && failure() }}
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@3665186a8c1a022b28a1dbe0954e73aa9081ea9e # v1.6.0
        with:
          channel: build-failures
          status: FAILED
          color: danger
