on:
  workflow_call:
    inputs:
      images:
        description: Image tags to scan (Json array)
        required: true
        type: string
      pull:
        description: If the images should be pulled
        required: false
        type: boolean
        default: false
      report-retention-days:
        description: Number of days to retain HTML reports
        type: string
        default: 30
      create-test-report:
        description: If a JUnit test report should be created
        type: boolean
        default: true
      remove-individual-artifacts:
        description: If individual workflow artifacts should be replaced by merged ones
        type: boolean
        default: true
      merge-sboms:
        description: If SBOMs should be merged (can take some time)
        type: boolean
        default: true
      scan-merged-sbom:
        description: If the merged SBOM should be scanned to create an aggregated HTML report (prone to failure as trivy does not accept many merged SBOMs)
        type: boolean
        default: false
      secondaryRegistry:
        description: 'Optional secondary registry to login to'
        type: string
        required: false
        default: ''
      environment:
        description: 'GitHub repository environment to use (to access variables)'
        type: string
        default: ''
    secrets:
      # GH_PAT:
      #   required: true
      DOCKER_HUB_USERNAME:
        required: true
      DOCKER_HUB_PASSWORD:
        required: true
      DOCKER_HUB_EMAIL:
        required: false
      SECONDARY_REGISTRY_PASSWORD:
        required: false
      SECONDARY_REGISTRY_USERNAME:
        required: false

jobs:
  scan:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    strategy:
      fail-fast: false # scan all images
      matrix:
        image: ${{ fromJson(inputs.images) }}

    steps:

      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Login to secondary registry
        if: ${{ vars.SECONDARY_REGISTRY != '' || inputs.secondaryRegistry != '' }}
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ vars.SECONDARY_REGISTRY != '' && vars.SECONDARY_REGISTRY || inputs.secondaryRegistry }}
          username: ${{ secrets.SECONDARY_REGISTRY_USERNAME }}
          password: ${{ secrets.SECONDARY_REGISTRY_PASSWORD }}

      - name: Pull image
        if: ${{ inputs.pull }}
        shell: bash
        run: |
          docker pull ${{ matrix.image }}

      - name: Vulnerability scan
        uses: wetransform/gha-trivy@dafb78eaf440e1d9217b3432965692ab2fd1d204 # v2.5.1
        with:
          image-ref: ${{ matrix.image }}
          create-test-report: ${{ inputs.create-test-report }}
          report-tag: ${{ matrix.image }}
          report-retention-days: ${{ inputs.report-retention-days }}

  summary:
    runs-on: ubuntu-latest
    needs: [scan]
    if: always() # run even if scan fails
    steps:
      - name: Merge SBOM artifacts
        if: ${{ inputs.remove-individual-artifacts }}
        uses: actions/upload-artifact/merge@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: SBOM (CycloneDX) [all-individual-results]
          pattern: SBOM (CycloneDX) * # name used by gha-trivy action
          delete-merged: true

      - name: Merge HTML report artifacts
        if: ${{ inputs.remove-individual-artifacts }}
        uses: actions/upload-artifact/merge@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: Vulnerability report (HTML)
          pattern: Vulnerability report (HTML)* # name used by gha-trivy action
          delete-merged: true

      - name: Download all SBOM artifacts
        if: ${{ inputs.merge-sboms }}
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          path: sboms
          pattern: SBOM (CycloneDX) * # name used by gha-trivy action
          merge-multiple: true # add files from all matches

      - name: Install CycloneDX CLI # https://github.com/CycloneDX/cyclonedx-cli
        if: ${{ inputs.merge-sboms }}
        uses: jaxxstorm/action-install-gh-release@cd6b2b78ad38bdd294341cda064ec0692b06215b # v1.14.0
        with:
          repo: CycloneDX/cyclonedx-cli
          tag: v0.29.1 # optional, otherwise use latest

          # extension-matching: disable # disable extension matching because artifacts are binaries

          # work around action picking wrong artifact (with `musl`) - open issue on specifying artifact manually see https://github.com/jaxxstorm/action-install-gh-release/issues/84
          extension: -linux-x64
          platform: cyclone
          arch: dx

          rename-to: cyclonedx-cli
          chmod: 0755
          cache: enable # only works if using specific tag
      - name: Verify CycloneDX CLI install
        if: ${{ inputs.merge-sboms }}
        shell: bash
        run: cyclonedx-cli --version

      - name: Merge SBOMs
        if: ${{ inputs.merge-sboms }}
        shell: bash
        run: |
          mkdir -p merged

          # Find all JSON files and store them in an array
          files=($(find "sboms" -name "*.json"))

          # Merge all files
          cyclonedx-cli merge --input-files "${files[@]}" --output-file merged/sbom.json

          # Create combined CSV
          cyclonedx-cli convert --input-file merged/sbom.json --output-file merged/sbom.csv --output-format csv

      - name: Remove duplicates from CSV
        if: ${{ inputs.merge-sboms }}
        shell: bash
        run: |
          awk '!seen[$0]++' merged/sbom.csv > merged/sbom-no-duplicates.csv

      - name: Upload combined SBOMs
        if: ${{ inputs.merge-sboms }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: Merged SBOMs (CycloneDX)
          path: merged/
          retention-days: ${{ inputs.report-retention-days }}

      # Scan merged SBOM for an overview, but trivy fails for mixed OS dependencies, so disabled by default
      - name: Scan merged SBOM
        if: ${{ inputs.merge-sboms && inputs.scan-merged-sbom }}
        uses: wetransform/gha-trivy@dafb78eaf440e1d9217b3432965692ab2fd1d204 # v2.5.1
        with:
          scan-ref: merged/sbom.json
          create-test-report: false
          report-tag: all
          report-retention-days: ${{ inputs.report-retention-days }}
          create-summary: true
