on:
  workflow_call:
    inputs:
      images:
        description: Image tags to scan (Json array)
        required: true
        type: string
      pull:
        description: If the images should be pulled
        required: false
        type: boolean
        default: false
      report-retention-days:
        description: Number of days to retain HTML reports
        type: string
        default: 30
      create-test-report:
        description: If a JUnit test report should be created
        type: boolean
        default: true
    secrets:
      # GH_PAT:
      #   required: true
      DOCKER_HUB_USERNAME:
        required: true
      DOCKER_HUB_PASSWORD:
        required: true
      DOCKER_HUB_EMAIL:

jobs:
  scan:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false # scan all images
      matrix:
        image: ${{ fromJson(inputs.images) }}

    steps:

      - name: Login to Docker Hub
        uses: docker/login-action@e92390c5fb421da1463c202d546fed0ec5c39f20 # v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Pull image
        if: ${{ inputs.pull }}
        shell: bash
        run: |
          docker pull ${{ matrix.image }}

      - name: Vulnerability scan
        uses: wetransform/gha-trivy@master
        with:
          image-ref: ${{ matrix.image }}
          create-test-report: ${{ inputs.create-test-report }}
          report-tag: ${{ matrix.image }}
          report-retention-days: ${{ inputs.report-retention-days }}
